{% extends "base.html" %}

{% block title %}Password recovery{% endblock %}

{% block content %}
    <h1>Password recovery</h1>
    {% if validlink %}
        <p>Type your new password two times:</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change password"></p>
        </form>
    {% else %}
        <p>
            Recovery password link is incorrect - it was used before.
            You need to start recovery password procedure again
        </p>
    {% endif %}
{% endblock %}