{% extends "base.html" %}

{% block tittle %}{{ image.title }}{% endblock %}

{% block content %}
    <h1>{{ image.title }}</h1>
    {% load thumbnail %}
    <a href="{{ image.image.url }}">
        <img src="{% thumbnail image.image 300x0 %}" class="image-detail">
    </a>
    {% with total_likes=image.users_like.count %}
        <div class="image-info">
            <div>
                <span class="count">
                    {{ total_likes }} likes
                </span>
            </div>
            {{ image.description|linebreaks }
        </div>
        <div class="image-likes">
            {% for uer in mage.users_like.all %}
                <div>
                    {% if user.profile.photo %}
                        <img src="{{ user.profile.photo.url }}">
                    {% endif %}
                    <p>{{ user.first_name }}</p>
                </div>
            {% empty %}
                No one likes the photo.
            {% endfor %}
        </div>
    {% endwith %}
{% endblock %}